{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="backlistApp">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <!-- jQuery includes -->

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//code.angularjs.org/1.2.18/angular.min.js"></script>
    <script src="//code.angularjs.org/1.2.18/angular-resource.min.js"></script>
    <script src="//code.angularjs.org/1.2.18/angular-route.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/controllers.js' %}"></script>

</head>

<body>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Книги/Главная</a></li>
                        <li><a href="#/book/add">Добавить</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div ng-view></div>
    </div>
    <!-- Angular-->
</body>
</html>
