<h1>Книги</h1>
<div class="row">
    <div class="col-md-2">
        <form class="form-horizontal">
            <div class="form-group">
                <input type="text" id="category_inp" placeholder="Категория" class="form-control" ng-model="search.category.title">
            </div>
            <div class="form-group">
                <input type="text" id="author_inp" placeholder="Автор" class="form-control" ng-model="search.authors">
            </div>
            <div class="form-group">
                <input type="text" id="title_inp" placeholder="Название" class="form-control" ng-model="search.title">
            </div>
        </form>

    </div>
    <div class="col-md-9">
        <div class="panel panel-default" ng-repeat="book in books | filter:search">
            <div class="panel-heading">
                <h3 class="">{{book.title}} <span class="label label-default pull-right ">{{book.category.title}}</span></h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <a class="pull-left" href="#/book/{{book.id}}">
                        <img class="img-thumbnail img-responsive media-object" ng-src="{{book.image_thumb}}" height="100" width="100">
                    </a>
                    <div class="media-body">
                        <div class="pull-right">
                            <a href="#/book/{{book.id}}" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></a>
                            <a href="#" ng-click="delete(book)" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                        <p>{{book.description}}</p>
                        <br/>
                        <span ng-repeat="author in book.authors">
                            &nbsp;
                            <span  class="label label-success">{{author.full_name}}</span>
                        </span>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
