<h1 ng-hide="book.id">Новая книга</h1>
<h1 ng-show="book.id">Редактирование</h1>
<form class="form-inline">
    <div class="panel panel-default">
        <div class="panel-heading">
            <input ng-model="book.title" type="text" class="form-control" size="75">
            <div class="pull-right">
                <select class="form-control" ng-model="book.category">
                    <option ng-repeat="category in categories" value="{{category.id}}" ng-selected="book.category == category">{{category.title}}</option>
                </select>
            </div>
        </div>
        <div class="panel-body">
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="img-thumbnail img-responsive media-object" ng-src="{{book.image_thumb}}" height="100" width="100">
                </a>
                <div class="media-body">
                    <div class="pull-right" ng-show="book.id">
                        <a href="#" ng-click="delete(book)" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span></a>
                    </div>
                    <textarea ng-model="book.description" rows="3" cols="100" class="form-control" placeholder="Описание"></textarea>
                    <br/>
                    <span ng-repeat="author in book.authors">
                        &nbsp;
                        <span  class="label label-success">{{author.full_name}}</span>
                    </span>
                </div>
            </div>
            <button ng-click="save()" class="btn pull-right btn-lg btn-success">Сохранить</button>
        </div>
    </div>
</form>
